@font-face {
  font-family: 'Pokemon';
  src: url('../font/Pokemon\ Hollow.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon';
  src: url('../font/Pokemon\ Solid.ttf');
  font-weight: 400;
  font-style: normal;
}
