<header class="page-header">
  <a class="header-logo" href="#"><img class="img-logo "
      src="./images/pokemon-logo.svg" alt=""></a>
  <form class="header-search-form">
    <div class="form-group">
      <label class="enter-name" for="text">enter the name or id of the pokemon</label>
      <input class="search-input" type="text" name="searchQuery"
        autocomplete="on"
        placeholder="Search cards..."
        id="text">
      <div class="btn-wrapper">
        <button class="search-button" type="submit"></button>
      </div>
    </div>
    <!-- <div class="form-group">
      <select class="language" name="" id="">
        <option data-google-lang="en" value="">En</option>
        <option data-google-lang="de" value="">De</option>
        <option data-google-lang="es" value="">Es</option>
        <option data-google-lang="uk" value="">Uk</option>
      </select>
    </div> -->
  </form>
  <div class="cont-lang">
    <div class="wrapper-language">
      <p>выберите язык</p>
    </div>
    <ul class="language">
      <li class="item-language" data-google-lang="en">english <img
          src="./images/gb.svg" alt="en" data-google-lang="en" width="22"
          height="15"></li>
      <li class="item-language" data-google-lang="de">deuthch <img
          src="./images/de.svg" alt="de" data-google-lang="de"
          width="22" height="15"></li>
      <li class="item-language" data-google-lang="es">espanio <img
          src="./images/es.svg" alt="es" data-google-lang="es"
          width="22" height="15"></li>
      <li class="item-language" data-google-lang="uk">ukraine <img
          src="./images/ua.svg" alt="uk" data-google-lang="uk"
          width="22" height="15"></li>
    </ul>
  </div>
  <button class="toggle-theme-btn" type="button"></button>
</header>
