<header class="page-header">
  <a class="header-logo" href="#"><img class="img-logo "
      src="./images/pokemon-logo.svg" alt=""></a>
  <form class="header-search-form">
    <div class="form-group">
      <input class="search-input" type="text" name="searchQuery"
        autocomplete="on"
        placeholder="Search images...">
      <div class="btn-wrapper">
        <button class="search-button" type="submit"></button>
      </div>
    </div>
    <div class="form-group"></div>
  </form>
  <div class="btn-theme">
    <button class="toggle-theme-btn" type="button"></button>
  </div>
</header>
